{% extends "wrapper.html" %}

{% block content %}

    <h2>Розрахуйте вартість страхування свого авто</h2>

    <script type='text/javascript'>
        $(document).ready(function(){
            $('#typeSelect').change(function(){
                 var type = $('#typeSelect').val();
                 var setl = $('#setlSelect').val();

                 location.href = 'http://127.0.0.1:8000/ocv/' + type +'/' + setl +'/';
            })
            $('#calcbutton').click(function () {
                $('#prices').show();
            })
         });
    </script>

    <form style="margin-top: 50px">

        <div class="form-group">
            <label for="exampleFormControlSelect1">Місце реєстрації авто</label>
            <select class="form-control col-md-4" id="setlSelect" name="setlSelect">
                <option value="0"></option>
                    {% for s in setl %}
                        {% if setlDefault %}
                            {% if setlDefault.id == s.id %}
                                <option selected value="{{ s.id }}">{{ s }}</option>
                            {% else %}
                                <option value="{{ s.id }}">{{ s }}</option>
                            {% endif %}
                        {% else %}
                            <option value="{{ s.id }}">{{ s }}</option>
                        {% endif %}
                    {% endfor %}
            </select>
        </div>


        <div class="form-group">
            <label for="exampleFormControlSelect1">Тип автомобіля</label>
            <select class="form-control col-md-4" id="typeSelect" name = "typeSelect">
                <option value="0"></option>
                {% for cartype in cartypes %}
                    {% if typeDefault %}
                        {% if typeDefault.id == cartype.id %}
                            <option selected value="{{ cartype.id }}">{{ cartype.carTypeSimple }}</option>
                        {% else %}
                            <option value="{{ cartype.id }}">{{ cartype.carTypeSimple }}</option>
                        {% endif %}
                    {% else %}
                         <option value="{{ cartype.id }}">{{ cartype.carTypeSimple }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        {% if cartypelabel %}
         <div class="form-group">
            <label for="exampleFormControlSelect1">{{ cartypelabel }}</label>
            <select class="form-control col-md-4" id="exampleFormControlSelect1">
                <option></option>
                {% for car in cartypemtsbu %}
                    <option>{{ car.carTypeKind }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <!--<button type="submit" formmethod="post" class="save btn btn-primary btn-lg" id = "calcbutton" style="background: #1d2124; margin-top: 20px">Розрахувати</button-->

    </form>

    <button class="save btn btn-primary btn-lg" id = "calcbutton" style="background: #1d2124; margin-top: 20px">Розрахувати</button>

    <div class = 'prices' style="margin-top: 50px" id = "prices">

      <a href="#">
          <div class="card w-100 shadow p-3 mb-5 bg-white rounded" id="card">
              <div class="card-body">
                  <img src= '/static/imgs/unilogo.png' class= "float-left" width= "195" height= "42">
                  <h2 class="float-right">100 грн.</h2>
              </div>
      </div></a>
    <div class="card w-100 shadow p-3 mb-5 bg-white rounded" id="card">
      <div class="card-body">
          <img src='/static/imgs/unilogo.png' class= "float-left" width= "195" height= "42">
          <h2 class="float-right">100 грн.</h2>
      </div>
    </div>
    </div>
  
{% endblock %}