{% extends "wrapper.html" %}

{% block content %}

     <h2 class="initialText">Розрахуйте вартість страхування свого авто</h2>

    <script type='text/javascript'>
        $(document).ready(function(){
            $('#typeSelect').change(function(){
                var type = $('#typeSelect').val();
                var setl = $('#setlSelect').val();

                //location.href = 'http://127.0.0.1:8000/ocv/' + type +'/' + setl +'/';
                urlAJAX = 'http://127.0.0.1:8000/ocv/' + type +'/' + setl +'/';
                 $.get(urlAJAX, function(response){
                   result = JSON.parse(response);

                   if (result) {
                       $('#carTypeSelect').show()
                       $('#labelTypeSelect').empty();
                       $('#labelTypeSelect').append($('<span>', {text: result.cartypelabel, }));
                       $('#exampleFormControlSelect1').empty();
                       $('#exampleFormControlSelect1').append($('<option>', {
                                value: '0',
                                text: '',
                        }));

                       for(var i=0;i < result.item_list.length;i++){
                            $('#exampleFormControlSelect1').append($('<option>', {
                                value: result.item_list[i]['id'],
                                text: result.item_list[i]['carTypeKind'],
                        }))};
                   }
                  });


            })
            $('#calcbutton').click(function () {
                $('#prices').show();
            })
         });
    </script>

    <form id="calcForm">
        {% csrf_token %}
        <div class="form-row">
        <div class="form-group col-md-4">

            <label for="exampleFormControlSelect1">Місце реєстрації авто</label>
            <select class="form-control" id="setlSelect" name="setlSelect">
                <option value="0"></option>
                    {% for s in setl %}
                        {% if setlDefault %}
                            {% if setlDefault.id == s.id %}
                                <option selected value="{{ s.id }}">{{ s }}</option>
                            {% else %}
                                <option value="{{ s.id }}">{{ s }}</option>
                            {% endif %}
                        {% else %}
                            <option value="{{ s.id }}">{{ s }}</option>
                        {% endif %}
                    {% endfor %}
            </select>

        </div>


        <div class="form-group col-md-4">
            <label for="exampleFormControlSelect1">Тип автомобіля</label>
            <select class="form-control" id="typeSelect" name = "typeSelect">
                <option value="0"></option>
                {% for cartype in cartypes %}
                    {% if typeDefault %}
                        {% if typeDefault.id == cartype.id %}
                            <option selected value="{{ cartype.id }}">{{ cartype.carTypeSimple }}</option>
                        {% else %}
                            <option value="{{ cartype.id }}">{{ cartype.carTypeSimple }}</option>
                        {% endif %}
                    {% else %}
                         <option value="{{ cartype.id }}">{{ cartype.carTypeSimple }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>



        </div>



         <div class="form-row" id = "carTypeSelect">
         <div class="form-group col-md-4">
            <label for="exampleFormControlSelect1" id = "labelTypeSelect"></label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option></option>

            </select>
        </div>
         </div>



        <!-- cartypelabel<button type="submit" formmethod="post" class="save btn btn-primary btn-lg" id = "calcbutton" style="background: #1d2124; margin-top: 20px">Розрахувати</button-->

    </form>

    <button class="save btn btn-primary btn-lg" id = "calcbutton" style="background: #1d2124; margin-top: 20px; margin-left: 20px">Розрахувати</button>

    <div class = 'prices' style="margin-top: 50px" id = "prices">


          <div class="card w-100 shadow p-3 mb-5 bg-white rounded" id="card">
              <div class="card-body">
                  <img src= '/static/imgs/unilogo.png' class= "float-left" width= "195" height= "42">
                  <h2 class="float-right">100 грн.</h2>
              </div>
          </div>
        <div class="card w-100 shadow p-3 mb-5 bg-white rounded" id="card">
          <div class="card-body">
              <img src='/static/imgs/unilogo.png' class= "float-left" width= "195" height= "42">
              <h2 class="float-right">100 грн.</h2>
          </div>
        </div>
    </div>
  
{% endblock %}