{% extends "wrapper.html" %}

{% block content %}

    <form id="contractForm">
        {% csrf_token %}
        <div class="card shadow" id="cardContact">
           <h5 class="card-header" id="cardContactHeader">
                Дані договору
           </h5>
            <div class="card-body" id="cardContractBody">
                <div class="form-row">
                 <div class="form-group col-md-4">
                      <label for ="inputBeginDate" >Дата початку дії</label>
                      <input type="date" class="form-control" id="inputBeginDate" placeholder="ДД.ММ.РРРР">
                 </div>
                <div class="form-group col-md-4">
                      <label for ="inputEndDate" >Дата закінчення дії</label>
                      <input type="date" class="form-control" id="inputEndDate" placeholder="ДД.ММ.РРРР">
                 </div>
                </div>
            </div>
        </div>


        <div class="card shadow" style="margin-top: 15px" id="cardContact">
           <h5 class="card-header" id="cardContactHeader">
                Дані про Вас
           </h5>
            <div class="card-body" id="cardContractBody">

                <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for ="inputSurname" >Прізвище</label>
                      <input type="text" class="form-control" id="inputSurname" placeholder="Прізвище">
                    </div>
                    <div class="form-group col-md-4">
                          <label for="inputName">Ім'я</label>
                          <input type="text" class="form-control" id="inputName" placeholder="Ім'я">
                    </div>
                    <div class="form-group col-md-4">
                          <label for ="inputPatronymic" >По батькові</label>
                          <input type="text" class="form-control" id="inputPatronymic" placeholder="По батькові">
                    </div>
                </div>
                <div class="form-group">
                        <label for="inputAddress">Адреса</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Введіть свою адресу">
                </div>
                 <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for ="inputBithday" >Дата народження</label>
                      <input type="date" class="form-control" id="inputBithday" placeholder="дд.мм.рррр">
                    </div>
                    <div class="form-group col-md-4">
                          <label for="inputTelefon">Телефон</label>
                          <input type="tel" class="form-control" id="inputTelefon" placeholder="(000)000-00-00">
                    </div>
                    <div class="form-group col-md-4">
                          <label for ="exampleInputEmail1">Електронна адреса</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                </div>

            </div>
        </div>


        <div class="card shadow" id="cardContact" style="margin-top: 15px">
           <h5 class="card-header" id="cardContactHeader">
                Дані Вашого авто
           </h5>
            <div class="card-body" id="cardContractBody">
                <div class="form-row">
                 <div class="form-group col-md-4">
                      <label for ="markSelect" >Марка Вашого авто</label>
                      <select class="form-control" id="markSelect">
                          <option value="0"></option>
                      </select>
                 </div>
                    <div class="form-group col-md-4">
                      <label for ="modelSelect" >Модель авто</label>
                      <select class="form-control" id="modelSelect">
                          <option value="0"></option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for ="inputCarYear" >Рік випуску</label>
                        <input type="text" class="form-control" id="inputCarYear" placeholder="Рік випуску">
                    </div>

                </div>
                <div class="form-row">
                     <div class="form-group col-md-12">
                        <button type="button" class="btn btn-secondary btn-lg float-right shadow"
                                style="background: #1d2124; margin-top: 30px; margin-right: 40px; width: 200px"
                                            id="ContactButton">Оформити</button>
                    </div>
                </div>

            </div>
        </div>



    </form>


{% endblock %}