{% extends "wrapper.html" %}

{% block content %}

    <h2>Розрахуйте вартість страхування свого авто</h2>
    <div class="container card-body">
        <form method="POST" class="post-form">
            {% csrf_token %}
            <div class="card-body">
                <div class="row">
                    <div class = "col col-md-4"><label>Місце реєстрації авто</label></div></br>
                    <div class = "col col-md-4">{{ form.setlCalc }}</div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class = "col col-md-4"><label>Тип траспорного засобу</label></div></br>
                    <div class = "col col-md-4">{{ form.catTypeSimpleCalc }}</div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class = "col col-md-4"><label>Об'єм двигуна</label></div></br>
                    <div class = "col col-md-4">{{ form.carTypeMTSBUCalc }}</div>
                </div>
            </div>
            <button type="submit" formmethod="post" class="save btn btn-primary btn-lg" style="background: #1d2124; margin-top: 40px">Розрахувати</button>
        </form>
    </div>
  
{% endblock %}